.header {
  @include transition (padding background-color);
  padding: 20px 0;
  position: sticky;
  z-index: 10;

  .fixed-position & {
    padding: 10px 0;
    background-color: $primary;
  }

  .nav-active & {
    background-color: $primary;
  }
}

.logo {
  width: 82px;
  
  @include media('>=tablet') {
    width: 100px;
  }

  a {
    @include transition (background-image);
    position: relative;

    .fixed-position &,
    .nav-active & {
      img {
        opacity: 0;
        visibility: hidden;
      }
  
      &:before {
        content: '';
        background: url('./../images/logo-active.svg');
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 82px;
        height: 59.61px;
  
        @include media('>=tablet') {
          width: 100px;
          height: 72.7px;
        }
      }
    }
  }

}

.header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-opener {
  display: block;
  width: 30px;
  height: 24px;
  position: relative;
  z-index: 10;

  @include media('>=tablet') {
    display: none;
  }

  span,
  &:before,
  &:after {
    @include transition(transform);
    content: '';
    background-color: $primary;
    position: absolute;
    border-radius: 4px;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    margin-top: -2px;

    .fixed-position & {
      background-color: $secondary;
    }
  }

  &:before {
    top: 2px;
  }

  span {
    top: 13px;
  }

  &:after {
    top: 24px;
  }

  .nav-active & {
    width: 30px;
    height: 24px;

    span {
      height: 0;
    }

    &:before {
      top: 13px;
      transform: rotate(45deg);
      background-color: $secondary;
    }

    &:after {
      top: 13px;
      transform: rotate(-45deg);
      background-color: $secondary;
    }
  }
}

.drop {
  @include transition(transform top);
  position: absolute;
  z-index: 5;
  top: 99.61px;
  right: 0;
  background-color: $black-03;
  padding: 30px 20px;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  touch-action: pan-y;

  @include media('<=tablet') {
    overflow-y: auto;
  }

  @include media('>=tablet') {
    background: transparent;
    position: relative;
    top: auto;
    transform: none;
    padding: 0;
    height: auto;
    display: flex;
    justify-content: flex-end;
  }

  .nav-active & {
    transform: translateX(0);
    max-width: 80%;

    @include media('>=tablet') {
      max-width: none;
    }
  }

  .fixed-position & {
    top: 79.61px;

    @include media('>=tablet') {
      top: auto;
    }
  }
}

.menu-main {
  @extend .list-reset;
  margin: 0 0 50px;
  
  @include media('>=tablet') {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 60px 0 0;
  }

  li {
    margin: 0 0 20px;

    @include media('>=tablet') {
      margin: 0 20px 0 0;
    }

    @include media('>=desktop') {
      margin: 0 40px 0 0;
    }

    &.active {
      a {
        font-weight: $font-weight-bold;
        
        &:hover {
          border-bottom: 1px solid transparent;
  
          .fixed-position & {
            border-bottom: 1px solid transparent;
          }
        }
      }
    }

    a {
      @include transition (border);
      font-size: 16px;
      color: $primary;
      font-weight: $font-weight-light;
      border-bottom: 1px solid transparent;
      
      &:hover {
        border-bottom: 1px solid $primary;
  
        .fixed-position & {
          border-bottom: 1px solid $secondary;
        }
      }

      &.dropdown-link {
        cursor: pointer;
        position: relative;
      
        &:hover {
          border-bottom: 3px solid transparent;
        }
      }

      .nav-active & {
        color: $secondary;
      }

      .fixed-position & {
        color: $secondary;
      }
    }
  }
}

.dropdown-holder {
  position: relative;
}

.dropdown-link {
  @include media('>=tablet') {
    margin: 0 18px 0 0;
  }

  @include media('>=desktop') {
    margin: 0 12px 0 0;
  }

  &:after {
    @include transition (transform);
    content: '\e900';
    font-family: 'icomoon'!important;
    position: absolute;
    top: 5px;
    right: -18px;
    display: block;
    font-size: 12px;
    color: $primary;

    .fixed-position &,
    .nav-active & {
      color: $secondary;
    }

    .drop-active & {
      transform: rotate(180deg);
    }
  }
}

.dropdown-list {
  overflow: hidden;

  @include media('>=tablet') {
    background-color: $black-04;
    position: absolute;
    top: 120%;
    left: 0;
    border-radius: 4px;
    min-width: 100px;
  }

  li {
    margin: 0;

    a {
      @include transition (background-color);
      color: $secondary;
      padding: 10px;
      display: block;
      border-bottom: 0;

      &:hover {
        border-bottom: 0;

        @include media('>=tablet') {
          background-color: $gray-01;
        }
      }

      .fixed-position & {
        border-bottom: 0;

        &:hover {
          border-bottom: 0;
        }
      }
    }
  }
}
