<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css">
    <title>Travel guide</title>
  </head>
  <body class="body">
    <div class="wrapper">
      <header class="header" id="header-fixed">
        <div class="container">
          <div class="header-group">
            <div class="logo">
              <a href="#" class="logo-holder">
                <img src="images/logo.svg" alt="Travel guide">
              </a>
            </div>
            <nav class="menu">
              <div class="nav-opener-holder">
                <a href="#" class="nav-opener">
                  <span></span>
                </a>
              </div>
              <div class="drop">
                <ul class="menu-main dropdown">
                  <li class="active"><a href="#">Home</a></li>
                  <li class="dropdown-holder">
                    <a class="dropdown-link">Guides</a>
                    <ul class="dropdown-list">
                      <li><a href="#">Item 1</a></li>
                      <li><a href="#">Item 2</a></li>
                      <li><a href="#">Item 3</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Flights</a></li>
                  <li><a href="#">About</a></li>
                </ul>
                <a href="#" class="btn btn-primary">Contact us</a>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <main class="main">
        <section class="hero-section">
          <div class="container">
            <div class="post post-lg">
              <div class="post-description">
                <h1 class="section-title"><a href="#">Travel to your dream destination</a></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus pendisse ultrices gravida.</p>
                <div class="btn-holder">
                  <a class="btn btn-secondary" href="#">Reserve ticket</a>
                </div>
              </div>
              <div class="post-img">
                <a href="#">
                  <img src="images/hero-img.jpg" alt="mountaines view">
                </a>
              </div>
            </div>
          </div>
        </section>
        <section class="memory-section">
          <div class="container">
            <div class="memory-content">
              <h2 class="section-title section-title-sm">Create a memory to remember</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do ei usmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus pendisse ultrices gravida.</p>
              <div class="btn-holder center">
                <a class="btn btn-outline" href="#">My travel logs</a>
              </div>
            </div>
          </div>
        </section>
        <section class="blog-section">
          <div class="container">
            <div class="post-holder">
              <div class="post post-sm">
                <div class="post-img">
                  <a href="#">
                    <img src="images/post-img-01.jpg" alt="hiking">
                  </a>
                </div>
                <div class="post-description">
                  <h3 class="post-description-title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do ei usmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus pendisse ultrices gravida.</p>
                </div>
              </div>
              <div class="post post-sm">
                <div class="post-img">
                  <a href="#">
                    <img src="images/post-img-02.jpg" alt="mountaines">
                  </a>
                </div>
                <div class="post-description">
                  <h3 class="post-description-title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do ei usmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus pendisse ultrices gravida.</p>
                </div>
              </div>
              <div class="post post-sm">
                <div class="post-img">
                  <a href="#">
                    <img src="images/post-img-03.jpg" alt="hiking view">
                  </a>
                </div>
                <div class="post-description">
                  <h3 class="post-description-title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do ei usmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus pendisse ultrices gravida.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="propse-section">
          <div class="container">
            <div class="propose-content">
              <h2 class="section-title section-title-center">See places you've <a class="underline-link" href="#">never</a> been before</h2>
              <ul class="sub-list">
                <li><a href="#">Lorem Ipsum Dolor</a></li>
                <li><a href="#">Lorem Ipsum Dolor</a></li>
                <li><a href="#">Lorem Ipsum Dolor</a></li>
              </ul>
              <div class="post post-double">
                <div class="post-img">
                  <a href="#">
                    <img src="images/post-img-04.jpg" alt="mountaine view">
                  </a>
                </div>
                <div class="post-description">
                  <div class="post post-inner">
                    <div class="post-img">
                      <a href="#">
                        <img src="images/post-img-02.jpg" alt="mountaines">
                      </a>
                    </div>
                    <h3 class="post-description-title">
                      <a href="#">Lorem ipsum olor sit amet consectetur adipiscing elit sed do ei</a>
                    </h3>
                    <div class="parag-holder">
                      <p>Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                      <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                  </div>
                  <div class="btn-holder right">
                    <a class="btn btn-arrow" href="#"><span class="icon-arrow-link"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="route-section">
          <div class="container">
            <div class="route-content">
              <div class="post post-lg">
                <div class="post-description">
                  <h2 class="section-title section-title-sm"><a href="#">Choose anywhere you'd like to be</a></h2>
                  <div class="post-description-parag">
                    <h4>Lorem Ipsum dolor</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei usmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repre henderit in voluptate velit esse.</p>
                  </div>
                  <div class="post-description-parag">
                    <h4>Lorem Ipsum dolor</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei usmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repre henderit in voluptate velit esse.</p>
                  </div>
                </div>
                <div class="post-img">
                  <a href="#">
                    <img src="images/post-img-05.jpg" alt="hiking">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="accordion-section">
          <div class="container">
            <div class="accordion-content">
              <div class="post post-md">
                <div class="post-description">
                  <h2 class="section-title section-title-sm">Lorem ipsum dolor sit amet consectetur</h2>
                  <ul class="accordion">
                    <li>
                      <a class="opener">Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do ei usmod</a>
                      <p class="slide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos officia magnam sapiente libero odio dolores dolorum quam quibusdam debitis adipisci?</p>
                    </li>
                    <li>
                      <a class="opener">Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do ei usmod</a>
                      <p class="slide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos officia magnam sapiente libero odio dolores dolorum quam quibusdam debitis adipisci?</p>
                    </li>
                    <li>
                      <a class="opener">Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do ei usmod</a>
                      <p class="slide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos officia magnam sapiente libero odio dolores dolorum quam quibusdam debitis adipisci?</p>
                    </li>
                    <li>
                      <a class="opener">Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do ei usmod</a>
                      <p class="slide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos officia magnam sapiente libero odio dolores dolorum quam quibusdam debitis adipisci?</p>
                    </li>
                    <li>
                      <a class="opener">Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do ei usmod</a>
                      <p class="slide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos officia magnam sapiente libero odio dolores dolorum quam quibusdam debitis adipisci?</p>
                    </li>
                  </ul>
                </div>
                <div class="post-img">
                  <a href="#">
                    <img src="images/post-img-06.jpg" alt="hiking view">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="form-section">
          <div class="container">
            <div class="form-content">
              <div class="post post-lg">
                <div class="form-holder">
                  <h2 class="section-title section-title-sm">Be updated!</h2>
                  <div class="form">
                    <div class="input-holder">
                      <input type="text" placeholder="First name*">
                    </div>
                    <div class="input-holder">
                      <input type="text" placeholder="Last name*">
                    </div>
                    <div class="input-holder">
                      <input type="email" placeholder="Email*">
                    </div>
                    <div class="input-holder">
                      <textarea rows="10" placeholder="Write something here..."></textarea>
                    </div>
                    <button class="btn btn-secondary submit" type="submit">Submit email</button>
                  </div>
                </div>
                <div class="post-img">
                  <img src="images/post-img-04.jpg" alt="mountaine view">
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer-content">
            <div class="logo">
              <a href="#" class="logo-holder">
                <img src="images/logo-active.svg" alt="Travel guide">
              </a>
            </div>
            <div class="footer-nav-holder">
              <h4>Quick links</h4>
              <nav>
                <ul class="footer-nav">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">My travel logs</a></li>
                  <li><a href="#">Travels</a></li>
                  <li><a href="#">Promo flights</a></li>
                  <li><a href="#">Travel routes</a></li>
                  <li><a href="#">Recommendations</a></li>
                  <li><a href="#">Guides</a></li>
                  <li><a href="#">Blogs</a></li>
                  <li><a href="#">Misson statement</a></li>
                  <li><a href="#">The team</a></li>
                  <li><a href="#">Contact us</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <h6 class="rights-sign">2022 - All Rights Reserved.</h6>
        </div>
      </footer>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>